venv/
__pycache__/
.env
.env.*
!.env.sample
*.pyc
*.pdf

*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*tfvars*

*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
crash.log
crash.*.log
ecs*